/***************************************/
/*    HOJA DE ESTILOS DE LA POKEDEX    */
/*    ------------------------------   */
/*    Creado por: Mikel Arina Marcos   */
/***************************************/

/****** Parámetros generales ******/

:root { /* Configuración del estilo por defecto */
    --bg_color: aquamarine;
    --tx_color: #001;
    --bg_index_color: aqua;
}

body.light{ /* Configuración del tema claro */
    --bg_color: aquamarine;
    --tx_color: #001;
    --bg_index_color: aqua;
}

body.dark{ /* Configuración del tema oscuro */
    --bg_color: #001;
    --tx_color: aquamarine;
    --bg_index_color: #696969;
}

/******* Barra de navegación ******/
.header{ /* Contenedor de la barra de navegación */
    height: 60px;
    width: 100%;
    left:0;
    top:0;
    position: fixed;
    display: inline-block;
    text-align: center;
    z-index: 2;
}

.index{ /* Barra de navegación */
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg_color);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.index_parts{ /* Partes de la barra de navegación */
    margin-left: 2%;
    margin-right: 2%;
    width: 33%;
}

.headerLink:link, .headerLink:visited{
    float: left;
    height: 50px;
    padding-top: 3%;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--tx_color);
    text-decoration: none;
}

.headerLink:hover{
    border: 2px solid var(--tx_color);
    border-width: auto;
    background-color: var(--bg_index_color);
    color:var(--tx_color);
}



.radioDark{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: var(--tx_color);
    float: right;
    margin-top:3.5%;
}

.index img{
    height: 45px;
    width: auto;
    float: center;
    margin-top: 1%;
}