/***************************************/
/*    HOJA DE ESTILOS DE LA POKEDEX    */
/*    ------------------------------   */
/*    Creado por: Mikel Arina Marcos   */
/***************************************/

/****** Parámetros generales ******/

:root { /* Configuración del estilo por defecto */
    --bg_color: aquamarine;
    --tx_color: #001;
    --bg_index_color: aqua;
}

body.light{ /* Configuración del tema claro */
    --bg_color: aquamarine;
    --tx_color: #001;
    --bg_index_color: aqua;
}

body.dark{ /* Configuración del tema oscuro */
    --bg_color: #001;
    --tx_color: aquamarine;
    --bg_index_color: #696969;
}

html, body{
    height: 100%;
    width: 100%;
}

header{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #001;
    top: 0;
    left: 0;
    z-index: 2;
}

main{
    position: fixed;
    background-color: aqua;
    height: 80%;
    width: 100%;
    top: 10%;
    left: 0;
}
footer{
    position: fixed;
    background-color: rosybrown;
    height: 10%;
    width: 100%;
    top: 90%;
    left: 0;

}
/******* Barra de navegación ******/

.navigation{
    height: 100%;
    background-color: var(--bg_color);
}

.index{ /* Barra de navegación */
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg_color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.index_parts{ /* Partes de la barra de navegación */
    margin-left: 2%;
    margin-right: 2%;
    width: 33%;
    position: relative;
}

.headerLink:link, .headerLink:visited{
    float: left;
    height: 50px;
    padding-top: 3%;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--tx_color);
    text-decoration: none;
}

.headerLink:hover{
    border: 2px solid var(--tx_color);
    border-width: auto;
    background-color: var(--bg_index_color);
    color:var(--tx_color);
}

.radioDark{
    position: absolute;
    top: 20px;
}

.radioDarkLabel{
    position: absolute;
    top: 20px;
    color: var(--tx_color);
}

.radioLight{
    position: absolute;
}

.radioLightLabel{
    position: absolute;
    color: var(--tx_color);
}

.index img{
    height: 45px;
    width: auto;
    float: center;
    margin-top: 1%;
}







.cardHeader{
    height: 30px;
    top: 0;
    background-color: var(--bg_color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardHeader img{
    height: 20px;
    width: 100%;
    float: center;
    margin-top: 5%;
    align-content: center;
    align-items: center;
}

.cardMain{
    margin-top: 5px;
}

.infoButtonSection{
    margin-top: 15px;
}

.infoButton{
    background-color: var(--bg_color);
    color:var(--tx_color);
    width: 50%;
    height: 30px;
}

form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    display: none;
    position: relative;
    height: 350px;
    font-family: 'Roboto Mono', monospace;
    width: 250px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    padding: 0px;
    margin: 0 20px;
    background-color: #FFF;
    border: 1px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}

.main{
    top: 65px;
    position: relative;
    display: flex;
    margin-left: 10px;
}







/***************************************/
/*       ESTILOS PARA FIGHT.HTML       */
/***************************************/

#flip-container{
    -webkit-perspective: 1000px;
    perspective: 1000px;
    padding: 50px;
    position: relative;
    margin: 10px auto;
    width: 500px;
  }
  .card {
    position: relative;
    height: 350px;
    width: 250px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
    color: #000;
    text-align: center;
    padding: 0px;
    margin: 0 20px;
    background-color: #FFF;
    border: 1px solid black;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform-origin: 50% 25px;
  }
    /*.card.flip {
    -webkit-transform: rotate(360deg);
    transform: rotateX(180deg);
  }

  .card:hover{
    -webkit-transform: rotate(360deg);
    transform: rotateY(180deg);
  }*/

  .front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
  }

  .front{
    background: repeating-linear-gradient(
        -45deg,
        #ececec,
        #ececec 10px,
        #dedede 10px,
        #dedede 20px
      );
    border-radius: 10px;
  }

  .back{
    transform: rotateY(180deg);

    border-radius: 10px;
  }

  .buttonCard{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .rotate {
    -webkit-transform: rotate(360deg);
    transform: rotateY(180deg);
 }
 @-moz-keyframes spin {
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
 }
 @-webkit-keyframes spin {
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
 }
 @keyframes spin { 
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
 }
