:root {
    --bg_color: aquamarine;
    --tx_color: blue;
}

body.light{
    --bg_color: aquamarine;
    --tx_color: blue;
}

body.dark{
    --bg_color: black;
    --tx_color: white;
}


.header{
    height: 50px;
    width: 100%;
    left:0;
    top:0;
    position:fixed;
    display: inline-block;
    text-align: center;
    z-index: 3;
}

.index{
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg_color);
    width: 100%;
    height: 45px;
    display:flex;
    justify-content: space-between;
}

.index_parts{
    margin-left: 2%;
    margin-right: 2%;
    width: 33%;
    border-radius: 10px;
}

.index_c { /* Posición de las opicones de la barra de navegación */
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: var(--tx_color);
    float: left;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20%;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    top:0;
}

.radioDark{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: var(--tx_color);
    float: right;
    margin-top:3.5%;
}

.index img{
    height: 45px;
    width: auto;
}